[Desktop Entry]
Version=1.1
Type=Application
Encoding=UTF-8
Name=Resource Monitor
Comment=Resource Monitor
Exec=gnome-system-monitor
Terminal=false
Categories=Graphics
