﻿<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" data-bind="text:$root.translate('EditView')"></h5>
        </div>
        <div class="modal-body">
            <div>
                <div class="form-group">
                    <label data-bind="text:$root.translate('Name')"></label>
                    <input type="text" autocorrect="off" autocapitalize="off" autocomplete="new-password" class="form-control" title="View Name" data-bind="textInput:viewName, event:{change:editing.ui.change}" />
                </div>
                <div class="form-group">
                    <label data-bind="text:$root.translate('Mode')"></label>
                    <select class="form-control" data-bind="value:mode">
                        <option value="grid" data-bind="text:$root.translate('g.Grid')"></option>
                        <option value="column" data-bind="text:$root.translate('g.Column')"></option>
                        <option value="2column" data-bind="text:$root.translate('g.TwoColumns')"></option>
                        <option value="active" data-bind="text:$root.translate('g.Active')"></option>
                        <option value="alerted" data-bind="text:$root.translate('g.Alerted')"></option>
                        <option value="detected" data-bind="text:$root.translate('g.Detected')"></option>
                        <option value="rotate" data-bind="text:$root.translate('g.Interval')"></option>
                        <option value="rotatefull" data-bind="text:$root.translate('g.IntervalFull')"></option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="mb-2">
                        <label data-bind="text:$root.translate('IncludedDevices')"></label>
                        <div tabindex="1" data-bind="click:toggleAll,event: {keypress: toggleAll}" class="btn btn-sm pull-right">
                            <!-- ko ifnot: allSelected -->
                            <i class="fa fa-square-o"></i>
                            <!-- /ko -->
                            <!-- ko if: allSelected -->
                            <i class="fa fa-check-square-o"></i>
                            <!-- /ko -->
                            <span data-bind="text:$root.translate('All')"></span>
                        </div>
                    </div>
                    <div data-bind="foreach: objects" class="scrollDiv">
                        <div tabindex="1" data-bind="click:$parent.toggle,event: {keypress: $parent.toggle}" class="btn btn-block text-left btn-sm btn-info">
                            <!-- ko ifnot: inView -->
                            <i class="fa fa-square-o"></i>
                            <!-- /ko -->
                            <!-- ko if: inView -->
                            <i class="fa fa-check-square-o"></i>
                            <!-- /ko -->
                            <span data-bind="text:name"></span>
                        </div>
                    </div>
                </div>
                <!-- ko if: $root.canEdit -->
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block btn-sm" onclick="editing.showAddDeviceMenu()" data-bind="text:$root.translate('AddNewDevice')"></button>
                </div>
                <!-- /ko -->
                <div class="modal-footer">
                    <button type="button" onclick="editing.ui.ok()" class="btn btn-success" data-bind="text:$root.translate('OK')"></button>
                </div>

            </div>
        </div>
    </div>
</div>
