﻿<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" data-bind="text:$root.translate('EditPlan')"></h5>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label data-bind="text:$root.translate('Name')"></label>
                <input type="text" class="form-control" data-bind="textInput:planName" title="Plan Name" />
            </div>
            <div class="form-group">
                <label data-bind="text:$root.translate('Image')"></label>
                <button type="button" class="btn btn-info btn-block" onclick="editing.uploadPlan()" data-bind="text:$root.translate('Upload')"></button>
            </div>
            <div class="form-group">
                <div class="mb-2">
                    <label data-bind="text:$root.translate('IncludedDevices')"></label>
                    <div tabindex="1" data-bind="click:toggleAll,event: {keypress: toggleAll}" class="btn btn-sm pull-right">
                        <!-- ko ifnot: allSelected -->
                        <i class="fa fa-square-o"></i>
                        <!-- /ko -->
                        <!-- ko if: allSelected -->
                        <i class="fa fa-check-square-o"></i>
                        <!-- /ko -->
                        <span data-bind="text:$root.translate('All')"></span>
                    </div>
                </div>
                <div data-bind="foreach: objects" class="scrollDiv">
                    <div tabindex="1" data-bind="click:$parent.toggle,event: {keypress: $parent.toggle}" class="btn btn-block text-left btn-sm btn-info">
                        <!-- ko ifnot: inPlan -->
                        <i class="fa fa-square-o"></i>
                        <!-- /ko -->
                        <!-- ko if: inPlan -->
                        <i class="fa fa-check-square-o"></i>
                        <!-- /ko -->
                        <span data-bind="text:name"></span>
                    </div>
                </div>
            </div>
            <!-- ko if: $root.canEdit -->
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-block btn-sm" onclick="editing.showAddDeviceMenu()" data-bind="text:$root.translate('AddNewDevice')"></button>
            </div>
            <!-- /ko -->
            <div class="modal-footer">
                <button type="button" onclick="editing.ui.close()" class="btn btn-warning" data-bind="text:$root.translate('Cancel')"></button>
                <button type="button" onclick="editing.ui.ok()" class="btn btn-success" data-bind="text:$root.translate('OK')"></button>
            </div>

        </div>
    </div>
</div>
