﻿<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" data-bind="text:$root.translate('Payments')"></h5>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped agentTable">
                    <thead>
                        <tr>
                            <th data-bind="text:$root.translate('Date')"></th>
                            <th data-bind="text:$root.translate('Item')"></th>
                            <th data-bind="text:$root.translate('Amount')"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--ko foreach: data.items -->
                        <tr>
                            <td data-title="'Date'" data-bind="text:date"></td>
                            <td data-title="'Item'" data-bind="text:item"></td>
                            <td data-title="'Amount'" data-bind="text:amount"></td>
                            <td data-title="'Receipt'"><a role="button" class="btn btn-primary" data-bind="attr:{href:$root.genLink($data)}, text:$root.translate('Receipt')" target="_blank"></a></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="editing.ui.ok()" class="btn btn-success" data-bind="text:$root.translate('OK')"></button>
            </div>
        </div>
    </div>
</div>
