﻿<div class="sidebar-header py-1 px-2">
    <h5 data-bind="html:data.header" class="w-100"></h5> <small data-bind="text:data.version"></small>
    <!-- ko if: data.subHeader -->
    <div><h6><small class="text-muted ml-1" data-bind="html:data.subHeader"></small></h6></div>
    <!-- /ko -->
</div>
<div class="sidebar-content">
    <!-- ko if: isPresets()-->
    <table class="table table-bordered table-striped agentTable">
        <tbody>
            <!--ko foreach: data.items -->
            <tr>
                <td data-title="Preset" data-bind="text:text"></td>

                <td>
                    <button type="button" data-bind="click:function(data, event) { editing.presets.click($parent, data, event); }" cmd="goPreset" class="btn btn-sm btn-success" title="Go"><span class="fa fa-arrow-right fa-lg"> </span></button>&nbsp;
                    <!--ko if:$root.isOnvif-->
                    <button type="button" data-bind="click:function(data, event) { editing.presets.click($parent, data, event); }" cmd="delPreset" class="btn btn-sm btn-danger" title="Delete"><span class="fa fa-times fa-lg"> </span></button>
                    <!-- /ko -->
                </td>

            </tr>
            <!-- /ko -->
            <!--ko if:$root.isOnvif-->
            <tr>
                <td>
                    <input type="text" data-bind="textInput:newPreset" class="form-control center-block" />
                </td>
                <td>
                    <button type="button" data-bind="click:editing.presets.add" cmd="add" class="btn btn-info"><span class="fa fa-plus fa-lg"> </span></button>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <!-- /ko -->
    <!-- ko ifnot: isPresets()-->
    <div data-bind="foreach: data.items">
        <!-- ko if: type()=="Info"-->
        <div data-bind="html:value"></div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>