﻿::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track-piece {
    background-color: #32383e;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #495057;
}

#sidebar ul li a {
    color: #ccc;
}

#sidebar ul li a:hover {
    color: #272B30;
    background: #e6e6e6;
}